.container {
  height: 100%;
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: 100%;
  padding: 0 1rem 2.6rem;
}

.money_details {
  background-color: inherit;
  position: absolute;
  bottom: 22px;
  left: 22px;
  right: 22px;
}