@import "responsive";
.page {
  height: 100vh;
  width: 100vw;
  background-color: inherit;
  padding-top: 2px;
  @include media-gt-phone {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.body {
  height: 100%;
  width: 100%;
  // Responsive: For Devices bigger that phones (width > 768px)
  @include media-gt-phone {
    width: 90%;
    height: 96%;
  }
  @include media-gt-tablet {
    width: 95%;
    height: 96%;
  }
  @include media-desktop {
    width: 72%;
    height: 96%;
  }
}

.content {
  height: calc(100% - 100px);
  @include media-gt-phone {
    height: calc(100% - 118px);
  }
}

footer {
  width: 100%;
  text-align: center;
  background-color: inherit;
  @include media-gt-phone {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  ul {
    list-style-type: disc;
    li {
      list-style-type: disc;
      font-size: 12px;
      color: #999;
      margin-left: 20px;
      display: inline-block;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}